@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=DM+Mono:wght@500&family=Hind+Siliguri&family=Josefin+Sans:wght@600&family=Noto+Sans+KR:wght@700&family=Roboto:wght@300&display=swap');

.App-header {
  background: #283048; 
  background: -webkit-linear-gradient(to right, #859398, #283048); 
  background: linear-gradient(to right, #859398, #283048);
  min-height: 100vh;
  color: #10161A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dlBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
  text-decoration: none;
}

.header{
  margin: -100px 0px 5rem 0px;
  font-family: 'Josefin Sans', sans-serif;
}

.howToHead{
  margin: 0 0 3rem 0;
  font-family: 'DM Mono', monospace;
}

.howToDesc{
  margin: 0 10rem 5rem 10rem;
  font-family: 'Hind Siliguri', sans-serif;
}

